<footer class="footer">
    <div class="container-content">
        <div class="footer__tablewrapper">
            <div class="footer__tablelinks">
                <div class="footer__tdlinks">
                    <a href="#">
                        <svg viewBox="0 0 32 32" width="25" height="25">
                            <path d="M31,18c-0.6,0-1,0.4-1,1v11H2V2h11c0.6,0,1-0.4,1-1s-0.4-1-1-1H1C0.4,0,0,0.4,0,1v30c0,0.6,0.4,1,1,1h30 c0.6,0,1-0.4,1-1V19C32,18.4,31.6,18,31,18z"></path>
                            <path d="M15.3,15.3c-0.4,0.4-0.4,1,0,1.4c0.4,0.399,1,0.399,1.4,0L30,3.4V11c0,0.6,0.4,1,1,1s1-0.4,1-1V1 c0-0.6-0.4-1-1-1H21c-0.6,0-1,0.4-1,1s0.4,1,1,1h7.6L15.3,15.3z"></path>
                        </svg>
                        <span>vk.com</span>
                    </a>
                </div>
                <div class="footer__tdlinks">
                    <a href="#">
                        <svg viewBox="0 0 32 32" width="25" height="25">
                            <path d="M31,18c-0.6,0-1,0.4-1,1v11H2V2h11c0.6,0,1-0.4,1-1s-0.4-1-1-1H1C0.4,0,0,0.4,0,1v30c0,0.6,0.4,1,1,1h30 c0.6,0,1-0.4,1-1V19C32,18.4,31.6,18,31,18z"></path>
                            <path d="M15.3,15.3c-0.4,0.4-0.4,1,0,1.4c0.4,0.399,1,0.399,1.4,0L30,3.4V11c0,0.6,0.4,1,1,1s1-0.4,1-1V1 c0-0.6-0.4-1-1-1H21c-0.6,0-1,0.4-1,1s0.4,1,1,1h7.6L15.3,15.3z"></path>
                        </svg>
                        <span>timberland.ru</span>
                    </a>
                </div>
                <div class="footer__tdlinks">
                    <a href="#">
                        <svg viewBox="0 0 32 32" width="25" height="25">
                            <path d="M31,18c-0.6,0-1,0.4-1,1v11H2V2h11c0.6,0,1-0.4,1-1s-0.4-1-1-1H1C0.4,0,0,0.4,0,1v30c0,0.6,0.4,1,1,1h30 c0.6,0,1-0.4,1-1V19C32,18.4,31.6,18,31,18z"></path>
                            <path d="M15.3,15.3c-0.4,0.4-0.4,1,0,1.4c0.4,0.399,1,0.399,1.4,0L30,3.4V11c0,0.6,0.4,1,1,1s1-0.4,1-1V1 c0-0.6-0.4-1-1-1H21c-0.6,0-1,0.4-1,1s0.4,1,1,1h7.6L15.3,15.3z"></path>
                        </svg>
                        <span>timbersled.com</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__social">
            <a href="#">
                <svg width="28" height="28" viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path fill='#fff' d='M24.6 8.5c-.3-.4-.8-.5-1.6 0L8.7 18c-.4 0-.7.4-.7 1.2v9.5c0 .7.3 1 .7 1.3L23 39.6c.7.3 1.3.3 1.6 0L39.3 30c.5-.3.7-.8.7-1.3v-9.5c0-1-.7-1.2-.7-1.2L24.6 8.5zm-2 27.6L12 29l4.7-3.2 6 4.2v6zm2.7 0v-6l6-4 4.7 3-10.5 7zM24 27l-4.8-3 4.8-3.2 4.8 3.2-4.8 3zm-13.3-5.3l3.7 2.3-3.7 2.2v-4.5zm26.6 4.5L33.6 24l3.7-2.3v4.5zm-12-14.4L36 19.2l-4.7 3.2-6-4v-6.6zm-2.6 0v6.4l-6 4.2-4.8-3.2L22.2 12v-.2z'/></svg>
            </a>
            <a href="#">
                <svg width="28" height="28" viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path fill='#fff' d='M8.04 23.47c.1-5.5 5.16-10.33 10.66-10.15 2.64-.12 5.12 1.03 7.14 2.64-.86.98-1.75 1.92-2.7 2.8-2.43-1.67-5.9-2.15-8.32-.2-3.47 2.4-3.63 8.06-.3 10.65 3.26 3 9.4 1.5 10.3-3-2.03 0-4.07 0-6.1-.03-.02-1.2-.02-2.4-.02-3.63h10.22c.2 2.87-.17 5.9-1.93 8.27-2.7 3.74-8 4.84-12.2 3.24S7.62 28 8 23.5zm25.82-4.1h3.04c0 1 0 2.04.02 3.06 1.02 0 2.04 0 3.05.02v3.04h-3.05c0 1 0 2-.02 3h-3.04c0-1 0-2.03-.02-3.04-1.02 0-2.04 0-3.05-.03V22.4l3-.02v-3.03z'/></svg>
            </a>
            <a href="#">
                <svg width="28" height="28" viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path fill='#fff' d='M15.2 31.44c2.4 0 4.47-.74 6.1-2.08-2.22 0-4-1.5-4.6-3.43.3.15.6.15.9.15.44 0 .88 0 1.33-.15-2.23-.44-3.87-2.38-3.87-4.76.75.3 1.5.6 2.23.6-1.36-.9-2.25-2.38-2.25-4.02 0-.9.15-1.8.6-2.53 2.38 2.98 6.1 4.9 10.12 5.06-.15-.3-.15-.6-.15-1.04 0-2.68 2.23-4.9 4.9-4.9 1.35 0 2.7.58 3.58 1.47 1.2-.27 2.24-.57 3.14-1.17-.3 1.05-1.05 2.1-2.1 2.68 1.05-.14 1.95-.3 2.84-.73-.6 1.04-1.5 1.78-2.53 2.53v.58c0 6.55-4.9 14-14 14-2.67 0-5.2-.9-7.43-2.24h1.2z'/></svg>
            </a>
            <a href="#">  
                <svg width="28" height="28" viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path fill='#fff' d='M19.6 15.4c0-1.4 0-3.6 1-5C21.8 9 23.2 8 25.8 8c4.2 0 6 .6 6 .6l-.8 4.8s-1.3-.4-2.5-.4c-1.3 0-2.5.4-2.5 1.8v3.8h5.2l-.4 4.8h-5V40h-6.2V23.4h-3.4v-4.8h3.4v-3.2z'/></svg>
            </a>
        </div>
    </div>
</footer>