<header class="header">
	<div class="container-content">
		<a href="/" class="logo">
		    <img src="img/logo.jpg" alt="">
		</a>
		<div class="header__tablewrapper">
		    <div class="header__table">
		        <div class="header__table_td">
		            <a href="#" class="active">The odlo ritual</a>
		        </div>
		        <div class="header__table_td">
		            <a href="#">The art of layering</a>
		        </div>
		        <div class="header__table_td">
		            <div class="languages">
		                <a href="#" class="active">Eng</a>
		                <a href="#">De</a>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</header>
