<head lang="ru">
	<meta charset="UTF-8">
	<title>Тестовое задание</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="/favicon.png" rel="icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="./css/main.css">
</head>
