.firstscreen{
    position: relative;
    &__image{
        background-size:cover;
        background-position: center;
        height:660px;
    }
    &__text{
        height:184px;
        position: absolute;
        left:0;
        right:0;
        top:7px;
        background: rgba(10, 122, 177, 0.61);
        text-align: center;
        &>div{
            display: inline-block;
            font-weight: bold;
            line-height: 50px;
            position: relative;
            top:25px;
            &>span{
                color:white;
                text-transform: uppercase;
                &:nth-child(1){
                    font-size: 60px;
                }
                &:nth-child(2){
                    font-size: 43px;
                    position: relative;
                    top: -12px;
                    left: 5px;
                    &:before{
                        content: '';
                        width:100%;
                        position: absolute;
                        height:6px;
                        background:white;
                        bottom:-2px;
                    }
                }
                &:nth-child(3){
                    font-size: 90px;
                    display: block;
                    clear: both;
                }
            }
        }
    }
    &__description{
        background:black;
        padding:20px 0;
        text-align: center;
        &_inner{
            max-width:690px;
        }
        &_text{
            color:white;
        }
    }
}