.footer{
    background: black;
    color:white;
    fill:white;
    padding:21px 0;
    .container-content{
        position: relative;
        .footer{
            &__social{
                position: absolute;
                right:0;
                top:4px;
                a{
                    display: inline-block;
                    margin-left: 10px;
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }
        }
    }
    a{
        fill:white;
        color:white;
        text-decoration: none;
    }
    &__tablewrapper{
        box-sizing: border-box;
        overflow: hidden;
        padding-right: 306px;
    }
    &__tablelinks{
        width:100%;
        display: table;
    }
    &__tdlinks{
        display: table-cell;
        width:100%/3;
        svg{
            margin-right: 5px;
            position: relative;
            top: 6px;
        }
        span{
            text-transform: uppercase;
        }
    }
}