.header{
    height: 118px;
    padding: 31px 0 0 0px;
    box-sizing: border-box;
    border-bottom: 7px solid @lightgray;
    font-weight: bold;
    .logo{
        float:left;
    }
    a{
        text-transform: uppercase;
        text-decoration: none;
        color:@lightgray;
        transition: all 0.3s;
        &.active, &:hover{
            color:@blue;
        }
    }
    &__tablewrapper{
        //padding-left:60px;
        position: relative;
        overflow: hidden;
    }
    &__table{
        display: table;
        width:100%;
        &_td{
            display: table-cell;
            border-right:1px solid @lightgray;
            height: 63px;
            vertical-align: middle;
            text-align: center;
            width:100%/3;
            &:last-child{
                border:none;
            }
            a{
                display: inline-block;
                max-width: 115px;
            }
        }
    }
}
.languages{
    float:right;
    a:after{
        content:'';
        position: relative;
        left:-3px;
        top:2px;
        border-right:2px solid @lightgray;
        padding:0 5px;
        height:16px;
        display: inline-block;
    }
    a:last-child:after{
        display: none;
    }
}