.insta{
    &__header{
        color:white;
        background: @blue;
        padding:17px 20px 14px;
        position: relative;
        &_hash{
            font-size: 30px;
            display: inline-block;
            margin-right: 15px;
        }
        &_static{
            position: absolute;
            right:20px;
            top: 14px;
            &>div{
                float:left;
                width:55px;
                padding-left:26px;
                padding-right: 20px;
                border-left:1px solid white;
            }
            img{
                position: relative;
                top: 7px;
            }
        }
        &_number{
            font-weight: bold;
            font-size: 22px;
        }
        &_text{
            display: block;
            position: relative;
            top:-2px;
            font-size: 12px;
        }
    }
    &__body{
        padding-top: 15px;
        &_item{
            position: relative;
            @width:31.8%;
            width:@width;
            padding-top:@width;
            margin:(100% - (@width * 3)) / 4;
            float:left;
            background-size: cover;
            background-position: center;
            &:nth-child(3n+1){
                margin-left:0;
            }
            &:nth-child(3n+3){
                margin-right:0;
            }
        }
        &_itemhover{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            opacity: 0;
            color:white;
            transition: all 0.3s;
            padding:20px;
            background:rgba(23, 153, 205, 0.8);
            &:hover{
                opacity: 1;
            }
        }
        &_text{
            position: relative;
            max-height: 70%;
            overflow: hidden;
            font-size: 18px;
        }
        &_like{
            position: absolute;
            bottom: 8%;
            font-weight: bold;
            i{
                background-image:url(/img/like-comment.png);
                width: 19px;
                height: 18px;
                margin-right: 5px;
                position: relative;
                top: 2px;
                display: inline-block;
            }
        }
        &_comment{
            position: absolute;
            bottom: 8%;
            left: 78px;
            font-weight: bold;
            i{
                background-image:url(/img/like-comment.png);
                width: 19px;
                height: 18px;
                display: inline-block;
                position: relative;
                top: 2px;
                margin-right: 5px;
                background-position: 0px -20px
            }
        }
    }
}