.prefooter{
    clear: both;
    padding-top: 45px;
    color:white;
    &__container{
        background: @blue;
        padding: 20px 50px;
        position: relative;
        box-sizing: border-box;
        h3{
            color:@gray;
            font-size: 28px;
            margin-bottom: 15px;
            span{
                color:white;
            }
        }
    }
    &__text1{
        font-size: 18px;
        font-weight: bold;
    }
    &__text2{
        color:black;
        font-weight: bold;
    }
    &__insta{
        position: absolute;
        right:50px;
        top: 16px;
        color:white;
        text-decoration: none;
        img{
            margin-left:7px;
        }
    }
    &__gray{
        padding: 10px 50px;
        background: #58595b;
        box-sizing: border-box;
        margin-top: 17px;
        position: relative;
        display: block;
        text-decoration: none;
        margin-bottom: 28px;
        .arr{
            position: absolute;
            right:50px;
            top:10px;
            stroke: @blue;
        }
        h3{
            margin-bottom: 0;
            span{
                color:white;
            }
        }
    }
}