@media screen and (max-width:900px){
    .footer__tdlinks{
        width: auto;
        display: block;
        float:left;
        margin-right: 20px;
    }
    .footer__tablewrapper{
        padding-right: 180px;
    }
}
@media screen and (max-width:830px){
    .insta__header_static>div{
        display: none;
    }
    .prefooter__container h3{
        font-size: 20px;
    }
    .prefooter__insta{
        top:10px;
    }
}
@media screen and (max-width:700px){
    .languages{
        float: none;
    }
    .footer__tablewrapper{
        padding-right: 0;
    }
    .footer__tdlinks {
        display: table-cell;
        width: auto;
        float: none;
    }
    .footer__tdlinks span{
        font-size: 14px;
    }
    .footer .container-content .footer__social{
        background: #58595b;
        bottom:100%;
        left:0;
        right:0;
        height:50px;
        top:auto;
        padding-top: 4px;
        box-sizing: border-box;
    }
    .footer .container-content{
        position: static;
    }
    .footer{
        position: relative;
        margin-top:50px;
    }
    .footer__social{
        display: table;
        width:100%;
        a{
            display: table-cell !important;
            text-align: center;
            width: 25%;
        }
        svg{
            width:40px;
            height:40px;
        }
    }
    .prefooter__gray{
        margin-bottom: 0px;
        margin-top: 0px;
        background: none;
    }
    .prefooter__gray h3{
        font-size: 16px;
    }
    .prefooter__gray{
        padding: 14px 12%/2;
    }
    .prefooter__gray .arr{
        top:15px;
    }
    .firstscreen__text>div>span:nth-child(1){font-size:38px;}
    .firstscreen__text>div>span:nth-child(2){font-size:30px;top: -6px;}
    .firstscreen__text>div>span:nth-child(3){font-size:60px;}
    .firstscreen__image{
        height:650px;
    }
    .firstscreen__description_text{
        max-width: 390px;
        margin: 0 auto;
    }
    .owl-nav>div.owl-next{
        right: -28px;
        transform: scale(0.6);
    }
    .owl-nav>div.owl-prev{
        left:-28px;
        transform: scale(0.6);
    }
    .videosection__videoslider_item{
        padding-top: 72%;
    }
    .videosection__mainvideoblock{
        padding-top:64%;
    }
    .container-content{
        width: 88%;
    }
    h3{
        br{display:none;}
    }
    .insta__body_item{
        @width:48%;
        width:@width;
        padding-top:@width;
        margin:(100% - (@width * 2)) / 2 !important;
        &:nth-child(2n+1){
            margin-left:0 !important;
        }
        &:nth-child(2n+2){
            margin-right:0 !important;
        }
    }
    .prefooter .container-content{
        width:100%;
    }
    .prefooter__container{
        padding: 20px 12%/2;
    }
}
@media screen and (max-width:600px){
    .prefooter__insta{
        display: none;
    }
}
@media screen and (max-width:520px){
    .insta__header_hash{
        font-size: 20px;
    }
    .insta__header_static img{
        top:0;
    }
    .ritual__header_joinin{
        display: none;
    }
    .insta__header{
        padding-right: 60px;
    }
    .terms__header_button{
        padding-right: 30px;
    }
    .ritual__more{
        font-size: 14px;
    }
    .owl-nav>div.owl-next{
        right: -24px;
        transform: scale(0.4);
    }
    .owl-nav>div.owl-prev{
        left: -24px;
        transform: scale(0.4);
    }
    .ritual__description{
        font-size: 14px;
    }
    h3{
        font-size: 20px;
        line-height: 26px;
    }
}
@media screen and (max-width:480px){
    .footer__tablelinks{
        text-align: center;
    }
    .footer__tdlinks{
        display: inline-block;
        vertical-align: top;
        margin-bottom: 7px;
    }
}
@media screen and (max-width:440px){
    .header{
        padding-left: 0;
    }
    .firstscreen__image{                 
        height:370px;
    }                                                        
    .firstscreen__text{
        height: 140px;
    }
    .firstscreen__text>div{
        top:10px;
    }
    
}
@media screen and (max-width:410px){
    .header__table_td a{
        font-size: 12px;  
    }
}