.ritual{
    margin-bottom: 30px;
    &__description{
        color:white;
        font-size: 16px;
    }
    &__more{
        color:white;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        a{
            color:@blue;
            text-decoration: none;
        }
    }
    .arr{
        position: relative;
        top: 7px;
    }
    &__header{
        position: relative;
        &_joinin{
            color:white;
            position: absolute;
            right:0;
            top: -7px;
            font-size: 13px;
            img{
                margin-left: 2px;
                position: relative;
                top: 9px;
            }
        }
    }
}
.terms{
    color:white;
    position: relative;
    max-width: 550px;
    z-index: 2;
    &__close{
        transition: all 0.3s;
        opacity: 0;
        position: absolute;
        right: -11px;
        top: 8px;
    }
    &__header{
        transition: all 0.3s;
        overflow: hidden;
        &_button{
            cursor: pointer;
            padding-left: 10px;
            padding-bottom: 6px;
            svg{
                margin-right: 10px;
            }
        }
    }
    &__body{
        background:rgba(0, 0, 0, 0.87);
        height:0px;
        position: absolute;
        left:0;
        right:0;
        font-size: 11px;
        color:white;
        transition: all 0.3s;
        max-height: 90vh;
        &_text{
            overflow: auto;
            position: absolute;
            top:15px;
            left:20px;
            right:10px;
            bottom:15px;
            padding-right: 20px;
            &::-webkit-scrollbar {
                width: 13px;
            }
            &::-webkit-scrollbar-thumb {
                background: #fff;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: #a8a8a8
            }
        }
    }
    &.active{
        z-index: 10;
        .terms{
            &__header{
                background:#58595b;
            }
            &__close{
                opacity: 1;
                right: -1px;
            }
            &__body{
                height:600px;
                transition: all 0.6s;
            }
        }
        
    }
}