.videodarkness{
    position: absolute;
    height:100%;
    width:100%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    &:before{
        content:'';
        display: block;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.6);
        
    }
    &:hover{
        &:after{
            transform: scale(1.1);
        }
    }
    &:after{
        content:'';
        display: block;
        position:absolute;
        top:50%;
        left:50%;
        transition: all 0.4s;
        border-top: 34px solid transparent;
	    border-left: 82px solid @blue;
	    border-bottom: 34px solid transparent;
        margin-left:-41px;
        margin-top:-34px;
        border-radius: 4px;
    }
}
.videosection{
    padding:30px 0;
    &__name{
        color:white;
        font-size: 14px;
    }
    &__mainvideo{
        
    }
    &__mainvideoblock{
        width: 100%;
        position: relative;
        padding-top:52%;
        margin-top:10px;
        &>*{
            position: absolute;
            top:0;
        }
    }
    &__videoslider{
        margin-top: 20px;
        margin-bottom: 10px;
        &_item{
            padding-top:52%;
            position: relative;
        }
        &_name{
            position: absolute;
            color:white;
            font-size: 14px;
            top:0;
            left:0;
        }
        &_image{
            position: absolute;
            left:0;
            right:0;
            cursor: pointer;
            bottom: 0;
            top:30px;
            background-size: cover;
            background-position: center;
            .videodarkness{
                transition: all 0.3s;
                &:after{
                    border-top: 17px solid transparent;
	                border-left: 41px solid @blue;
	                border-bottom: 17px solid transparent;
                    margin-left:-20px;
                    margin-top:-17px;
                }
            }
            &.active{
                .videodarkness{
                    opacity: 0;
                }
            }
        }
    }
}
#videoframe{
    background: black;
}