@font-face {
    font-family: "OpenSans";
    src: url('/fonts/OpSans/OpenSansRegular.eot');
    src: url('/fonts/OpSans/OpenSansRegular.eot?iefix') format('eot'),
	     url('/fonts/OpSans/OpenSansRegular.woff') format('woff'),
	     url('/fonts/OpSans/OpenSansRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html{
    padding:0px;
    margin:0;
    width: 100%;
}
body{
    padding:0px;
    margin:0;
    position: relative;
    font-family: "OpenSans";
    background:@gray;
}
.clear{
    clear: both;
    float:none !important;
    border-right:none !important;
    padding:0 !important;
    display: block;
    width:100%;
}
.container-content{
    width:91%;
    margin:0 auto;
    max-width: 932px;
}
::selection{
    background:@gray;
    color:white;
}
h3{
    text-transform: uppercase;
    color:@blue;
    font-weight: bold;
    margin:0;
    padding:0;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
}
video, img{
    max-width: 100%;
}
.owl-nav>div {
    width: 26px;
    height: 45px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    font-size: 0;
    background-image: url(/img/nav.png);
    position: absolute;
    top: 50%;
    margin-top: -5px;
    &:hover{
        opacity: 1;
    }
    &.owl-next {
        background-position: -26px 0;
        right: -41px;
    }
    &.owl-prev {
        left: -41px;
    }
}
.arr{
    display: inline-block;
    width: 1em;
    fill: none;
    stroke: #fff;
    -webkit-transition: stroke 0.2s linear;
    transition: stroke 0.2s linear;
}